/*-- scss:defaults --*/

// Colores principales
$body-bg: #e0e1dd !default;
$body-color: #23395B !default;
$link-color: #005f73 !default;
$input-panel-bg: #ffffff !default;

// Código
$code-color: #00679e !default;
$code-block-font-size: 0.7em;

// Tipografías
$font-family-sans-serif: 'Montserrat', Arial, sans-serif !default;
$presentation-heading-font: 'Montserrat', sans-serif;


/*-- scss:rules --*/

// Aplicar tipografía global
body,
.reveal {
  font-family: 'Montserrat', sans-serif;
}

// Estilo de citas
.reveal blockquote,
.reveal blockquote p {
  color: #005f73 !important;
}

.reveal blockquote {
  border-left: 4px solid #005f73 !important;
}


